@using Dtos.Categories
@model CategoryDto

@{
    ViewData["Title"] = "Danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ breadcrumb ] start -->
                        @* <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-12">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">Form Elements</h5>
                                        </div>
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="index.html">
                                                    <i class="feather icon-home"></i>
                                                </a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="#!">Form Components</a></li>
                                            <li class="breadcrumb-item"><a href="#!">Form Elements</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div> *@
                        <!-- [ breadcrumb ] end -->
                        <!-- [ Main Content ] start -->
                        <div class="row custom-color">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Sửa danh mục</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <form asp-action="Update" asp-controller="Category" method="post">
                                                    <input type="hidden" asp-for="Id" />
                                                    <div class="mb-3">
                                                        <label class="form-label" for="">
                                                            Tên danh mục
                                                        </label>
                                                        <input type="text" class="form-control" placeholder="Enter email" asp-for="Name">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label"
                                                               for="">Trạng thái</label>
                                                        <select asp-for="Status" class="form-control" asp-items="Model.StatusList">
                                                            <option value="">Chọn trạng thái</option>
                                                        </select>
                                                    </div>
                                                    @* <div class="mb-3 form-check">
                                                        <input type="checkbox" class="form-check-input input-primary"
                                                               id="exampleCheck1">
                                                        <label for="exampleCheck1">Check me out</label>
                                                    </div> *@
                                                    <button type="submit" class="btn btn-warning mb-4">Sửa</button>
                                                </form>
                                            </div>
                                            @* <div class="col-md-6">
                                                <form>
                                                    <div class="mb-3">
                                                        <label class="form-label">Text</label>
                                                        <input type="text" class="form-control" placeholder="Text">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label"
                                                               for="exampleFormControlSelect1">Example select</label>
                                                        <select class="form-control" id="exampleFormControlSelect1">
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option>5</option>
                                                        </select>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label"
                                                               for="exampleFormControlTextarea1">Example textarea</label>
                                                        <textarea class="form-control" id="exampleFormControlTextarea1"
                                                                  rows="3"></textarea>
                                                    </div>
                                                </form>
                                            </div> *@
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
